<% provide(:title, "Search results") %>

<% if @restaurants.empty? %>
  <h3> Sorry, no restaurants found....</h3>
<% else %>
  <h3> We found the following restaurants....</h3>

  <% @restaurants.each do |restaurant| %>
    <p><%= link_to restaurant.name, restaurant, class: "btn btn-lg" %></p>
  <% end %>
<% end %>

<p>Can't find what you're looking for? <%= link_to "Add a restaurant", new_restaurant_path %></p>
