<% provide(:title, "Search results") %>

<div>
  <h3> <%= @restaurants.count %> restaurants match your search criteria ....</h3>
  <p>Can't find what you're looking for? <%= link_to "Add a restaurant", new_restaurant_path %></p>
</div>
<div>
  <% @restaurants.each do |restaurant| %>
    <p><%= link_to restaurant.name, restaurant, class: "btn btn-lg" %></p>
  <% end %>
  <%= will_paginate @restaurants %>
</div>
