<li>
  <%= link_to review.restaurant.name, review.restaurant %> <%= "*" * review.rating %>
  <%= review.content %>
  <span class="timestamp">
    Posted on <%= review.created_at.strftime("%d/%m/%Y") %>
  </span>
</li>
